<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.seung.mapper.AttachMapper">

<insert id="insertAttach">
insert into tbl_attach (uuid, uploadPath, fileName, filetype, bno)
values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, last_insert_id())
</insert>

<select id="selectAttachList" resultType="org.seung.domain.BoardAttachVO">
select *
from tbl_attach
where bno = #{bno}
</select>

 <select id="selectImg" resultType="String">
select uploadPath from tbl_attach
where bno = #{bno}
and concat(uuid, "_" ,fileName) = #{fname}
</select>

</mapper>